/* Index page + general elements */

.icon {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 35px;
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  filter: invert(1000%) sepia(0%) saturate(7500%) hue-rotate(174deg)
    brightness(108%) contrast(105%);
}

.selection-bar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: #29769da8;
  height: 76px;
  align-items: center;
}

.selection-bar-button {
  color: white;
  background-color: #29769d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  height: 50px;
  width: 175px;
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 40px;
  border: none;
  font-size: 17px;
  padding-bottom: 7px;
  transition: 0.15s;
}

.selection-bar-button:hover {
  background-color: white;
  color: #1d536e;
}

.selection-bar-button:active {
  opacity: 0.8;
}

.atag {
  color: black;
}

.home-page-info {
  position: relative;
  height: 100vh;
  top: 13vh;
}

.name-title {
  font-size: 4em;
  padding: 20px;
  margin: 20px;
  margin-bottom: 0px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title {
  font-size: 4em;
  padding: 20px;
  padding-top: 100px;
  margin: 20px;
  margin-bottom: 0px;
  color: rgb(255, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.name-text {
  font-size: 1.2em;
  padding: 20px;
  margin: 20px;
  margin-top: 0px;
  margin-left: 27px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 500px;
}

/* Aboutme */

.aboutme {
  position: relative;
  height: 100vh;
  background-color: white;
}

.body-text {
  font-size: 1.2em;
  padding: 20px;
  margin: 20px;
  margin-top: 0px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
}

.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutme-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: center;
  margin: 40px;
  padding: 20px;
  background-color: #29769dbc;
  width: 90%;
  border-radius: 50px;
  min-height: 265px;
  /* box-shadow: 5px 5px 10px #29769d7e; */
}

.aboutme-section img {
  flex: 1;
  max-width: 10%;
  margin: 40px;
  padding: 20px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(9%) saturate(1035%)
    hue-rotate(223deg) brightness(116%) contrast(100%);
}

.aboutme-section p {
  flex: 1;
  font-size: 1.2em;
  color: #f8fdff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  margin: 20px;
  padding: 20px;
}

/* projects */

.projects {
  position: relative;
  height: 100vh;
  background-color: white;
}

/* # */

#homePage {
  background-color: #29769d;
  padding-top: 75px;
  margin: 0px;
}

#aboutme {
  background-color: white;
  width: 100%;
  height: 100%;
}

#projects {
  background-color: #29769d;
  width: 100%;
  height: 100%;
}
